<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaSurf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaSurf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BetaSurf.Properties.Settings>
            <setting name="BOOKMARKS_FILE" serializeAs="String">
                <value>C:\Users\Prasanth\Desktop\bm.csv</value>
            </setting>
        </BetaSurf.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BetaSurf.Properties.Settings>
            <setting name="HISTORY_FILE" serializeAs="String">
                <value>C:\Users\Prasanth\Desktop\history.csv</value>
            </setting>
            <setting name="HOME_URL" serializeAs="String">
                <value>C:\Users\Prasanth\Desktop\homeurl.csv</value>
            </setting>
            <setting name="DEFAULT_HOME_URL" serializeAs="String">
                <value>http://espn.com</value>
            </setting>
        </BetaSurf.Properties.Settings>
    </userSettings>
</configuration>